body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
main {
  font-size: 20px;
  padding: 80px;
  width: 1120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 40px;
  color: rgb(128, 80, 18);
}
main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: left;
}
.p1 img {
  width: 1000px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 23px;
}
