body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
main {
  font-size: 20px;
  padding: 80px;
  width: 1120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 40px;
  color: rgb(128, 80, 18);
  margin-bottom: 20px;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 23px;
  gap: 10px;
}
.contact {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact img {
  width: 400px;
}
.xx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 300px;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 30px;
  border: 3px solid wheat;
  font-size: 17px;
}
.xx ul {
  list-style: none;
}
